p {
    font-size: 1.2rem;
    font-family: sans-serif;
    cursor: pointer;
}

.li :hover {
    background: #ccc;
    opacity: 0.8;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 0.9rem;
    font-family: sans-serif;
}