pPswd {
    font-size: 1.2rem;
    font-family: "Montserrat";
    cursor: pointer;
    font-weight: bolder;
}

.li :hover {
    background: #ccc;
    opacity: 0.8;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 0.8rem;
    font-family: "Montserrat";
    font-weight: bolder;
}