.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.errors {
    color: red;
    font-size: 0.9rem;
    font-family: sans-serif;
}

.error {
    color: rgb(177, 19, 19);
    font-size: 1.0rem;
    font-family: sans-serif;
}

.formInput {
    display: flex;
    flex-direction: column;
    width: 280px;
}

input {
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
}

label {
    font-size: 12px;
    color: gray;
}

span {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}

input:invalid[focused="true"]~span {
    display: block;
}