.emprende {
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 600;
    margin-right: 30px;
}

.emprende:hover {
    color: #b22828;
    text-decoration: none;
}

.linkEmprende:hover {
    color: #cf3a2b;
    text-decoration: none;
}

.menuButton {
    color: #FFFFFF;
}