.hm-pg__header-wrapper,
.home-main-pg__wrapper,
.home__footer-wrapper {
    inline-size: min(90%, 1400px);
    margin-inline: auto;
}

.home-nav {
    padding-block: 2rem;
    align-items: center;
}

.home-nav__list:first-of-type {
    margin-inline-end: auto;
}

.home-nav__title {
    font-family: "Pacifico", cursive;
    font-size: 2rem;
}

.home-nav__list--links {
    gap: 2rem;
    font-size: 1.15rem;
    align-items: center;
}

.home-nav__get-started {
    margin-inline-start: 2rem;
    border-radius: 10px;
    background-color: var(--brand);
}

.home-hero {
    margin-block-start: 3rem;
    grid-template-columns: 1fr 1fr;
}

.home-hero__img-container>img {
    object-fit: cover;
}

.home-hero__title {
    font-size: calc(var(--fs-900-small) + 0.3rem);
    line-height: 1.3;
    margin-block: 1rem;
}

.home-hero__actions {
    margin-block-start: 2rem;
    gap: 2rem;
}

.home-hero__explore {
    border: 1px solid var(--surface3);
}

.hm-pg__main {
    margin-block-start: 8rem;
    padding-block: 7rem;
    background-color: var(--surface3);
}

.home-main-pg {
    text-align: center;
}

.home-main-pg__title {
    font-size: calc(var(--fs-900-small) + 0.3rem);
    line-height: 1.3;
    max-inline-size: 30ch;
    margin-inline: auto;
}

.home-main-pg__description {
    font-size: 1.2rem;
    max-inline-size: 60ch;
    margin-inline: auto;
    margin-block-start: 1rem;
}

.home__footer {
    margin-block-start: 5rem;
}


/* --------- */


/* Footer */


/* --------- */

.footer__wrapper {
    inline-size: min(90%, 1400px);
    margin-inline: auto;
    margin-top: auto;
}

.footer {
    margin-block-start: 9rem;
    background-color: var(--clr-secondary);
    color: var(--light-clr);
    padding-inline: 0;
    padding-block: 1.5rem;
    text-align: center;
}

.footer__brand {
    font-size: var(--fs-700);
}

.footer__list {
    flex-direction: column;
}

.footer__list>.footer__items {
    font-size: var(--fs-500);
}

.footer__items {
    font-weight: lighter;
}

.footer__description {
    max-inline-size: 35ch;
    margin-inline: auto;
}

.footer__socials {
    justify-content: center;
}


/* ----------- */


/* Media Query */


/* ----------- */

@media (min-width: 500px) {
    .footer {
        text-align: left;
    }
    .footer__list {
        flex-direction: row;
    }
    .footer__description {
        margin-inline: unset;
    }
    .footer__socials {
        justify-content: end;
    }
}

.heading {
    width: 100%;
    margin: 48px auto;
    color: #7c7c7c;
    text-align: center;
}

.contact {
    position: relative;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    height: 200px;
    width: 600px;
}

.contact:hover {
    background: #eee;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5), -5px -5px 10px rgba(255, 255, 255, 0.5);
}

.contact h1 {
    color: #5a5a5a;
}

.contact .img {
    position: absolute;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.2);
    top: 10%;
    right: 5%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 0;
    transition: transform 0.5s ease-out;
}

.contact .img:hover {
    border-radius: 20px;
    transform: scale(3);
    z-index: 30;
}

.contact p {
    position: absolute;
    color: #7c7c7c;
}

.contact .phone {
    bottom: 30%;
}

.contact .email {
    bottom: 10%;
}

.identidad {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px;
    height: auto;
    width: 600px;
}

.miembros {
    background: #f5f5f5;
}

.profile-card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    background: #fff;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border: solid 1px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.profile-card:hover {
    box-shadow: 0 0 12px 3px rgba(0, 0, 0, 0.08);
}

.profile-card:hover .avatar img {
    border-color: rgb(99, 204, 131);
}

.profile-card .avatar {
    padding: 20px 0px10px;
}

.profile-card .avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-card .profile-type {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #888;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}

.profile-card .details {
    padding: 20px 0px;
    font-size: 15px;
    color: #888;
}

.profile-card .details .name {
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.profile-card .details .title {
    font-size: 16px;
    font-weight: 600;
    color: #888;
}

.profile-card .details .email {
    font-size: 16px;
    font-weight: 600;
    color: #888;
}

.profile-card .details .phone {
    font-size: 16px;
    font-weight: 600;
    color: #888;
}

.contacto {
    color: #ffffff;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
}

.content1 {
    margin-left: -35px;
}