        /*hoja de estilo para la pagina de video*/
        
        .containerVideo {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            width: 100vw;
            /*background-color: #000;*/
            padding-top: 5%;
        }
        
        .imgAling {
            vertical-align: text-top;
            padding-right: 25px;
        }
        
        .containerForm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            width: 100vw;
            /*background-color: #000;*/
            padding-top: 5%;
        }
        
        .shadow {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
            width: auto;
            height: auto;
        }